@model Instructor

<h1 class="center">Edit Instructor</h1>
<form method="post" action="/Instructor/SaveEdit/@Model.Id">
    <input type="hidden" name="Id" />
    <div>
        <label>Instructor Name </label><br />
        <input name="Name" type="text" class="form-control" value="@Model.Name" style="width: 300px; height: 30px;" />
    </div>
    <div>
        <label>Address</label>
        <input name="Address" type="text" class="form-control" value="@Model.Address" style="width: 300px; height: 30px;" />
    </div>
    <div>
        <label>Salary</label>
        <input name="Salary" type="text" class="form-control" value="@Model.Salary" style="width: 300px; height: 30px;" />
    </div>
    <div>
        <label>Department</label>
        <input name="Dept_Id" type="text" class="form-control" value="@Model.Dept_id" style="width: 300px; height: 30px;" />
    </div>
    <div>
        <label>Course</label>
        <input name="CrsId" type="text" class="form-control" value="@Model.CrsId" style="width: 300px; height: 30px;" />
    </div>


    <input type="submit" class="btn btn-success mt-1" value="Edit" />
</form>



